<div class="strib-styles ssa ssb ssc">

  <div class="container-lg" id="wrapper">

    <section class="body">

		<div class="slide" id="count">
			<div class="chatter">This year's spike in <span class="legendary d4">DFL</span> candidates filing to run for office outpaces numbers for <span class="legendary r4">GOP</span> and <span class="legendary y1">third-party</span> candidates.</div>

			<div id="chartCounts"></div>

			<div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
		</div>

		<div class="slide" id="rate">
			<div class="chatter">Rate of <span class="legendary d4">Democratic</span> versus <span class="legendary r4">Republican</span> candidates per political race.</div>

			<div class="chart" id="chartRate"></div>
			
			<div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>

		</div>


		<div class="slide" id="grid">
			<div class="chatter"><span class="legendary gray2">Open state and federal seats</span> — including some Minnesota legislators* who aren't seeking reelection — are a significant draw for candidates filed to run this year.</div>

				<div class="chart" id="chartRaces">
					<div class="table">
					    <div class="row th">
					      <div class="cell office-cell">Office</div>
					      <div class="cell dfl-cell d4">DFL</div>
					      <div class="cell other-cell y1">Other</div>
					      <div class="cell gop-cell r4">GOP</div>
					      <div class="cell total-cell gray5">Total</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">SENATE ONE</div>
					      <div class="cell dfl-cell">5</div>
					      <div class="cell other-cell">2</div>
					      <div class="cell gop-cell">4</div>
					      <div class="cell total-cell">11</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">SENATE TWO SPECIAL</div>
					      <div class="cell dfl-cell">6</div>
					      <div class="cell other-cell">2</div>
					      <div class="cell gop-cell">3</div>
					      <div class="cell total-cell">11</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">DISTRICT 1</div>
					      <div class="cell dfl-cell">2</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">4</div>
					      <div class="cell total-cell">6</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">DISTRICT 2</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">2</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">DISTRICT 3</div>
					      <div class="cell dfl-cell">2</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">3</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">DISTRICT 4</div>
					      <div class="cell dfl-cell">3</div>
					      <div class="cell other-cell">1</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">5</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">DISTRICT 5</div>
					      <div class="cell dfl-cell">6</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">3</div>
					      <div class="cell total-cell">9</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">DISTRICT 6</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">3</div>
					      <div class="cell total-cell">4</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">DISTRICT 7</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">2</div>
					      <div class="cell total-cell">3</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">DISTRICT 8</div>
					      <div class="cell dfl-cell">5</div>
					      <div class="cell other-cell">1</div>
					      <div class="cell gop-cell">2</div>
					      <div class="cell total-cell">8</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">GOVERNOR</div>
					      <div class="cell dfl-cell">5</div>
					      <div class="cell other-cell">2</div>
					      <div class="cell gop-cell">3</div>
					      <div class="cell total-cell">10</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">ATTORNEY GENERAL</div>
					      <div class="cell dfl-cell">5</div>
					      <div class="cell other-cell">1</div>
					      <div class="cell gop-cell">3</div>
					      <div class="cell total-cell">9</div>
					    </div>
					    <div class="row">
					      <div class="cell office-cell">SECRETARY OF STATE</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">1</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">3</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">STATE AUDITOR</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">2</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">4</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">MINNESOTA HOUSE*</div>
					      <div class="cell dfl-cell">160</div>
					      <div class="cell other-cell">5</div>
					      <div class="cell gop-cell">139</div>
					      <div class="cell total-cell">304</div>
					    </div>
					    <div class="row open">
					      <div class="cell office-cell">MINNESOTA SENATE</div>
					      <div class="cell dfl-cell">1</div>
					      <div class="cell other-cell">0</div>
					      <div class="cell gop-cell">1</div>
					      <div class="cell total-cell">2</div>
					    </div>
					    <div class="lastRow row">
					      <div class="cell office-cell">TOTAL</div>
					      <div class="cell dfl-cell d4">205</div>
					      <div class="cell other-cell y1">17</div>
					      <div class="cell gop-cell r4">172</div>
					      <div class="cell total-cell gray5">394</div>
					    </div>
					  </div>
				</div>

				<div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
			
		</div>

    </section>

  </div>

</div>



